# Vim files
*.swp

# Gedit/Geany? files
*~

# Java files
*.class

# Dota 2 replay files
*.dem
*.dem.bz2

# Temporary files used for the visualization
*.visdata

# Data files
*.json
*.zjson

# MSVC Files
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
