* {
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
}

html, body {
    height: 100%;
    background-color: #2b2b2b;
}

header {
    text-align: center;
    padding-top: 10px;
}

header > hr {
    background-color: #666666;
    margin-top: 10px;
    margin-bottom: 10px;
}

.clear-fix {
    clear: both;
}

#content-container {
    min-height: 100%;
    position: relative;
    width: 80%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #bdc3c7;
}

#content {
    min-height: 100%;
    padding: 0 10px 60px;
}

#time-container {
    width: 95%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#top-events, #bottom-events {
    position: relative;
    height: 17px;
    width: calc(90% - 4px);
}

#bottom-events {
    margin-top: -2px;
}

.event {
    position: absolute;
    height: 100%;
    width: 8px;
}

.event.smoke {
    background-color: rgba(97, 29, 216, 0.6);
}

.event.roshan {
    background-color: rgba(178, 34, 34, 0.8);
}

.event.radiant {
    background-color: rgba(41, 128, 185, 0.8);
}

.event.dire {
    background-color: rgba(231, 76, 60, 0.8);
}

#time {
    width: calc(90% - 4px);
    margin-left: 2px;
    margin-right: 2px;
    float: left;
}

#time-container > #start-time {
    width: 5%;
    float: left;
}

#time-container > #end-time {
    width: 5%;
    float: left;
    text-align: right;
}

#time > #amount {
    display: none;
}

#time > #time-slider, #time > #time-range-slider {
    vertical-align: middle;
}

#time > #time-slider .label, #time > #time-range-slider .label {
    position: absolute;
    background-color: rgba(233, 233, 233, 0.6);
    top: 100%;
    left: -100%;
    font-size: 0.6em;
    font-weight: bold;
    color: #000;
}

#time > #time-range-slider .label.l1 {
    top: -50%;
}

#graph-bar-container {
    width: 95%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}

#change-graph-box {
    font-size: 11px;
    float: left;
    width: 5%;
    height: 100%;
}

#change-graph-box > .arrow {
    width: 25%;
    margin-left:auto;
    margin-right:auto;
}

#change-graph-box > #graph-label {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

#open-graphs {
    float: left;
    width: 5%;
    height: 40px;
}

#open-graphs > a {
    text-decoration: none;
    color: black;
}

#open-graphs .fa-bar-chart {
    font-size: 2.4em;
    margin-left: 8%;
}

#graph-bar {
    float: left;
    width: calc(90% - 2px);
    height: 40px;
    margin-left: 1px;
    margin-right: 1px;
}

.ui-slider > .ui-slider-handle {
    width: 10px;
}

.column {
    float: left;
    min-width: calc((100% - 420px) / 2);
    height: 420px;
}

.side-bar {
    width: 70%;
    min-width: 233px;
}

.colour-container {
    background-color: #8E9AA2;
}

.drop-shadow {
    box-shadow: #2B2B2B 0 0 10px 0;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hug-right {
    margin-left:auto;
    margin-right: 2%;
}

.hug-left {
    margin-left: 2%;
    margin-right: auto;
}

#left-column > #toggle-box {
    height: 55%;
    margin-bottom: calc(2% - 2px);
}

#toggle-box > div.column {
    float: left;
    height: 100%;
    width: 40%;
}

#toggle-box > div.column:nth-of-type(1) {
    margin-right: 10%;
}

#toggle-box > div.column > div {
    width: 100%;
    height: 20%;
}

#toggle-box > div.column > div > span {
    margin-left: 10%;
    font-size: 0.8em;
}

#toggle-box > div.column label {
    position: relative;
    display: inline-block;
    width: calc(100% - 1.6em - 5%);
    height: 100%;
}

#toggle-box > div.column label span {
    background-color: rgba(233, 233, 233, 0.8);
    text-align: center;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.7em;
    font-weight: bold;
}

#toggle-box > div.column label:hover span {
    visibility: visible;
}

#toggle-box > div.column label img {
    margin-top: 5%;
    margin-left: 5%;
}

#toggle-box > div.column img {
    height: 80%;
    vertical-align: middle;
}

#left-column > #map-presence {
    height: 43%;
}

#left-column > #map-presence > .team-block {
    height: 65%;
    float: left;
    width: calc(50% - 2px);
}

#map-presence > .team-block > h1 {
    margin-top: 30%;
    font-size: 2em;
    vertical-align: middle;
    text-align: center;
    background: rgba(17, 17, 17, 0.8);
    color: #f5f5f5;
}

#toggle-presence-label > label {
    padding-left: 5%;
    padding-top: 1%;
    display: inline-block;
    width: 60%;
    height: 100%;
    font-size: 1.5em;
    vertical-align: middle;
    font-weight: bold;
}

#toggle-presence-label > .input-wrapper {
    display: inline;
    margin-left: 5%;
}

#toggle-presence {
    vertical-align: middle;
}

#right-column > #path-toggle {
    height: 20%;
    margin-bottom: calc(2% - 2px);
}

#right-column > #path-toggle > .heading {
    text-align: center;
    padding-bottom: 5px;
}

#path-toggle > .path-container {
    width: 40%;
}

.input-wrapper {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.input-wrapper img, .input-wrapper a {
    vertical-align: middle;
}

#right-column > #player-info {
    height: 78%;
}

#right-column > #player-info > #character-name {
    text-align: center;
    min-height: 24px;
}

#right-column > #player-info > #hero-icon {
    height: 100px;
    width: 175px;
    background-image: url('/static/img/heroes/default.jpg');
    background-size: cover;
    overflow: hidden;
}

#hero-icon > img {
    height: 100%;
}

#right-column > #player-info > #items {
    width: 178px;
    height: calc(95% - 128px - 4px);
}

#items .table-cell {
    width: calc(50% - 2px);
    height: 64px;
    max-width: 88px;
    background: #222222 url('/static/img/items/emptyitembg.jpg');
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

#items .table-cell:nth-child(1) {
    border-left: 1px solid white;
}

#items .table-row {
    max-height: 64px;
}

#items .table-row:first-of-type .table-cell {
    border-top: 1px solid white;
}

#map-container {
    float: left;
}

#map-container > canvas#dota-map {
    background-size: cover;
    background-image: url("/static/img/dota2-map.jpg");
}

.radiant.team-block {
    background-image: url("/static/img/icons/radiant.png");
}

.dire.team-block {
    background-image: url("/static/img/icons/dire.png");
}

.team-block {
    background-position: 50%;
    background-size: cover;
}

.radiant {
    background-color: #2980b9;
}

.dire {
    background-color: #e74c3c;
}

#team-graphs {
    width: 85%;
    height: 55px;
    margin-top: 10px;
}

#team-graphs > .score-box {
    width: 40%;
    height: 100%;
}

#team-graphs > #radiant {
    float: left;
}

.team-stats {
    padding-top: 1%;
    width: 76%;
}

.team-stats img {
    width: 8%;
    vertical-align: middle;
}

.team-stats > div {
    height: 23px;
}

.total-xp, .net-worth {
    width: 91%;
    height: 70%;
    display: inline-block;
    vertical-align: middle;
}

#radiant .label {
    position: absolute;
    left: 11%;
}

#dire .label {
    position: absolute;
    right: 11%;
}

.total-xp {
    background: #59CBD8;
}

.net-worth {
    background: #ffff00;
}

#team-graphs > #radiant > .team-stats img {
    padding-right: 1%;
}

#team-graphs > #dire > .team-stats img {
    padding-left: 1%;
}

.kills {
    font-size: 1.2em;
    padding-top: 1%;
    width: 11%;
    text-align: center;
}

.kills > .count {
    font-weight: bold;
}

#team-graphs > #radiant > .kills {
    float: right;
    padding-right: 2%;
}

#team-graphs > #radiant > .team-stats {
    float: left;
    padding-left: 1%;
}

#team-graphs > #dire {
    float: right;
}

#team-graphs > #dire > .kills {
    padding-left: 2%;
}

#team-graphs > #dire > .team-stats {
    float: right;
    text-align: right;
    padding-right: 1%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 10px;
}

.border-white {
    border-color: white;
}

.table {
    display: table;
}

.table-row {
    height: 33%;
    min-height: 64px;
}

.table-cell {
    float: left;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.table-cell > img {
    height: 100%;
}

.hidden-text {
    color: transparent;
}

.alt-checkbox {
    box-shadow: 0 0 0 1px #9F9F9F;
}

.alt-checkbox.checked::before {
    color: #000;
}

.ui-widget-header {
    background: #96ceff;
}

#uparrow {
    cursor: pointer;
}

#downarrow {
    cursor: pointer;
}

#heatmap-select label {
    display: block;
}

#heatmap-select #heatmap-dropdown-button {
    margin-bottom: 10px;
    margin-left: 10px;
}

#heatmap-select label {
    margin-top: 10px;
    margin-left: 10px;
}

#heatmap-select select {
    width: 150px;
}

#big-graph-overlay {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#big-graph-container {
    margin-top: 0.5%;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 98%;
}

#big-graphs {
    height: 100%;
    overflow-y: auto;
}

.close-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #4169E1;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    z-index: 101;
}

.close-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.close-button span:after {
    content: '«';
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -50px;
    transition: 0.5s;
}

.close-button:hover span {
    padding-left: 25px;
}

.close-button:hover span:after {
    visibility: visible;
    right: 0;
}
