html, body {
    background-color: Snow;
    margin:0;
    padding:0;
    height:100%;
}
header {
    padding-left: 210px;
    background-color:SteelBlue;
    color:white;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align:center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
p {
    margin-right: 50px;
    margin-left: 50px;
    text-align: justify;
    font-size: 14px;
    font-family: "Verdana", sans-serif;
}
#contents-bar {
    top: 0;
    z-index:1;
    position: fixed;
    background-color:#f1f1f1;
    padding-top: 0px;
    line-height:30px;
    height:100%;
    text-align: left;
    width:210px;
    font-size: 15px;
    float: left;
}
#contents-bar >img
{
    top: 50%;
    left: 50%;
    width: 90%;
    
}

#contents-bar ul li a {
    padding-left: 10px;
}

ul {
    list-style:none;
    padding-left:2px;
}

figure {
    text-align: center;
}

figure > figcaption {
    text-align:center;
    font-size: 12px;
    font-family: "Verdana", sans-serif;
}
figure img {
    padding-top: 55px;
    padding-bottom: 10px;
    height: 400px;
}
#content {
    padding-top: 50px;
    display: inline;
    position: absolute;
    padding-left: 210px;
}
.segment {
    float: left;
    display:inline;
    padding-bottom: 50px;
}

.sub-header {
    font-weight: bold;
    font-size: 35px;
    font-family: "Verdana", sans-serif;
    padding-left: 40px;
    color: Gray;
    padding-bottom: 20px;   
}

.sub-sub-header {
    font-weight: bold;
    font-size: 20px;
    font-family: "Verdana", sans-serif;
    padding-left: 45px;
    color: Gray;
}
.sub-sub-sub-header {
    font-weight: bold;
    font-size: 18px;
    font-family: "Verdana", sans-serif;
    padding-left: 48px;
    color: Gray;
}

a {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#queries > ul 
{
    padding-left: 80px;
    list-style-type: circle;
    text-align: justify;
    font-size: 14px;
    font-family: "Verdana", sans-serif;
}

#concept > ul 
{
    padding-left: 80px;
    list-style-type: circle;
    text-align: justify;
    font-size: 14px;
    font-family: "Verdana", sans-serif;
}
#iterations > ul 
{
    margin-right: 80px;
    padding-left: 80px;
    list-style-type: circle;
    text-align: justify;
    font-size: 14px;
    font-family: "Verdana", sans-serif;
}
#teamwork > ul 
{
    padding-left: 80px;
    list-style-type: circle;
    text-align: justify;
    font-size: 14px;
    font-family: "Verdana", sans-serif;
}
#foot {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color:SteelBlue;
    color:white;
} 
.floated_img {
    display:inline-block;
}

.middle{
 margin: auto;
}


.floated_img figure
{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    float: left;
}
#heat img {
    padding-top: 55px;
    padding-bottom: 10px;
    display: block;
    height: 500px;
    
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
#heat img {
    padding-top: 55px;
    padding-bottom: 10px;
    display: block;
    height: 500px;
    
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
#contents-bar a {
    padding:0 4px 0 0;
    display:block;
}

#contents-bar a:link {
    text-decoration: none;
    color: DimGray;
}

#contents-bar a:hover {
    background-color: #555;
    color: White;
}

a:visited {
    color: DimGray;
}

a:active {
    font-weight: bold;
        
}

.img-block {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#other-work .img-block {
    width: 70%;
}

#iterations .img-block.first-page {
    width: 100%;
}

#iterations .img-block.first-page .floated_img {
    width: 30%;
    padding-left: 3%;
}

#iterations .img-block.first-page .floated_img figure, #iterations .img-block.first-page .floated_img img {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}


#iterations .img-block.second-page {
    width: 50%;
}
