<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>Graphs - VisualizAncients</title>
    <link rel="stylesheet" href="/static/vendor/jquery-ui-1.11.4/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/graph.css">
</head>
<body>
    <div class="container">
        <b>Roshan Kills</b>
        <canvas id="roshanChart" width="1200" height="200"></canvas>
        <div class="axis">Elapsed Game Time</div>
    </div>
    <div class="container">
        <b>Wards</b>
        <canvas id="wardChart" width="1200" height="200"></canvas>
        <div class="axis">Elapsed Game Time</div>
    </div>
    <div class="container">
        <b>Player Kills</b>
        <canvas id="player_kills_Chart" width="1200" height="200"></canvas>
        <div class="axis">Elapsed Game Time</div>
    </div>
</body>

<script rel="script" type="text/javascript" src="/static/vendor/jquery-2.2.0.min.js"></script>
<script rel="script" type="text/javascript" src="/static/vendor/pako.min.js"></script>
<script rel="script" type="text/javascript" src="/static/vendor/jcanvas.min.js"></script>
<script rel="script" type="text/javascript" src="/static/vendor/Chart.min.js"></script>
<script rel="script" type="text/javascript" src="/static/js/parse.js"></script>

</html>
