<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>VisualizAncients</title>
    <link rel="stylesheet" href="/static/vendor/jquery-ui-1.11.4/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendor/jquery.alt-checkbox.css">
    <link rel="stylesheet" href="/static/vendor/jquery.alt-checkbox.icon-font.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <main id="content-container">
        <header>
            <h1>VisualizAncients</h1>
            <hr>
        </header>
        <section id="content">
            <div id="time-container">
                <div id="top-events" class="center-block"></div>
                <div class="clear-fix"></div>
                <span id="start-time">00:00</span>
                <div id="time">
                    <span id="amount"></span>
                    <div id="time-slider"></div>
                </div>
                <span id="end-time">00:00</span>
                <div class="clear-fix"></div>
                <div id="bottom-events" class="center-block"></div>
            </div>
            <div class="clear-fix"></div>
            <div id="graph-bar-container">
                <div id="change-graph-box">
                    <div class="arrow" id="up-arrow"><i id="uparrow" class="fa fa-arrow-up" ></i></div>
                    <div id="graph-label">Roshan</div>
                    <div class="arrow" id="down-arrow"><i id="downarrow" class="fa fa-arrow-down"></i></div>
                </div>
                <div id="graph-bar">
                    <canvas id="roshanSmallChart" ></canvas>
                    <canvas id="wardSmallChart" style="display:none;"></canvas>
                    <canvas id="playerKillsSmallChart" style="display:none;"></canvas>
                </div>
                <div id="open-graphs"><a href="/graphs"><i class="fa fa-bar-chart fa-2x"></i></a></div>
            </div>
            <div class="clear-fix"></div>

            <div id="left-column" class="column">
                <div id="toggle-box" class="side-bar border hug-right">
                    <!-- First Column -->
                    <div class="column">
                        <div class="deaths">
                            <span class="input-wrapper"><input type="checkbox" id="death-box">
                              <label for="death-box"><img alt="Deaths" src="/static/img/icons/death.png"><span>Deaths</span></label>
                            </span>
                        </div>
                        <div class="wards">
                            <span class="input-wrapper"><input type="checkbox" id="wards-box">
                                <label for="wards-box"><img src="/static/img/icons/ward.png"><span>Wards</span></label>
                            </span>
                        </div>
                        <div class="creep">
                            <span class="input-wrapper"><input type="checkbox" id="creep-box">
                                <label for="creep-box"><img src="/static/img/icons/creep.png"><span>Creep</span></label>
                            </span>
                        </div>
                        <div class="roshan">
                            <span class="input-wrapper"><input type="checkbox" id="roshan-box">
                                <label for="roshan-box"><img src="/static/img/icons/roshan.png"><span>Roshan</span></label>
                            </span>
                        </div>
                        <div class="courier">
                            <span class="input-wrapper"><input type="checkbox" id="courier-box">
                                <label for="courier-box"><img src="/static/img/courier.png"><span>Couriers</span></label>
                            </span>
                        </div>
                    </div>
                    <!-- Next Column -->
                    <div class="column">
                        <div class="solid-path">
                            <span class="input-wrapper"><input type="checkbox" id="solid-path-box">
                                <label for="solid-path-box"><img src="/static/img/icons/solid-path.png"><span>Path</span></label>
                            </span>
                        </div>
                        <div class="broken-path">
                            <span class="input-wrapper"><input type="checkbox" id="broken-path-box">
                                <label for="broken-path-box"><img src="/static/img/icons/broken-path.png"><span>Paths</span></label>
                            </span>
                        </div>
                        <div class="towers">
                            <span class="input-wrapper"><input type="checkbox" id="towers-box">
                                <label for="towers-box"><img src="/static/img/icons/tower.png"><span>Tower</span></label>
                            </span>
                        </div>
                        <div class="smokes">
                            <span class="input-wrapper"><input type="checkbox" id="smokes-box">
                                <label for="smokes-box"><img src="/static/img/icons/smoke.png"><span>Smokes</span></label>
                            </span>
                        </div>
                        <div class="runes">
                            <span class="input-wrapper"><input type="checkbox" id="runes-box">
                                <label for="runes-box"><img src="/static/img/icons/runes/dd_rune.png"><span>Runes</span></label>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="map-presence" class="side-bar border hug-right">
                    <div id="dire-control" class="dire team-block">
                        <img src="/static/img/icons/dire.png">
                        <div class="dire presence border"><h1>0%</h1></div>
                    </div>
                    <div id="radiant-control" class="radiant team-block">
                        <img src="/static/img/icons/radiant.png">
                        <div class="radiant presence border"><h1>0%</h1></div>
                    </div>
                </div>
            </div>

            <div id="map-container">
                <canvas id="dota-map" width="420" height="420"></canvas>
            </div>

            <div id="right-column" class="column">
                <div id="path-toggle" class="side-bar hug-left border">
                    <h4 class="heading">Toggle Paths</h4>
                    <div class="path-container center-block">
                        <span class="input-wrapper">
                            <input type="checkbox" id="path-box">
                            <label for="path-box"><img src="/static/img/icons/paths.png"></label>
                        </span>
                    </div>
                </div>
                <div id="player-info" class="side-bar hug-left border">
                    <h1 id="character-name" class="hidden-text">Character Name</h1>
                    <div id="hero-icon" class="border border-white center-block"></div>
                    <div id="items" class="center-block table">
                        <div class="table-row center-block">
                            <div class="table-cell"></div>
                            <div class="table-cell"></div>
                        </div>
                        <div class="table-row center-block">
                            <div class="table-cell"></div>
                            <div class="table-cell"></div>
                        </div>
                        <div class="table-row center-block">
                            <div class="table-cell"></div>
                            <div class="table-cell"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear-fix"></div>
            <div id="team-graphs" class="center-block">
                <div id="radiant" class="radiant score-box border">
                    <div class="team-stats">
                        <div><img src="/static/img/icons/gold.png"><span class="net-worth"><span class="label">0</span></span></div>
                        <div><img src="/static/img/icons/xp.png"><span class="total-xp"><span class="label">0</span></span></div>
                    </div>
                    <div class="kills">Kills <span class="count">0</span></div>
                </div>
                <div id="dire" class="dire score-box border">
                    <div class="team-stats">
                        <div><span class="net-worth"><span class="label">0</span></span><img src="/static/img/icons/gold.png"></div>
                        <div><span class="total-xp"><span class="label">0</span></span><img src="/static/img/icons/xp.png"></div>
                    </div>
                    <div class="kills">Kills <span class="count">0</span></div>
                </div>
            </div>
        </section>
        <footer>
            Made by: Alan Berman, Jacques Heunis, Jethro Muller, and Timothy Gwynn.
        </footer>
    </main>
</body>
<script rel="script" type="text/javascript" src="/static/vendor/jquery-2.2.0.min.js"></script>
<script rel="script" type="text/javascript" src="/static/vendor/jcanvas.min.js"></script>
<script rel="script" type="text/javascript" src="/static/vendor/jquery-ui-1.11.4/jquery-ui.min.js"></script>
<script rel="script" type="text/javascript" src="/static/vendor/jquery.alt-checkbox.js"></script>
<script rel="script" type="text/javascript" src="/static/vendor/pako.min.js"></script>
<script rel="script" type="text/javascript" src="/static/vendor/Chart.min.js"></script>
<script rel="script" type="text/javascript" src="/static/js/dataMaps.js"></script>
<script rel="script" type="text/javascript" src="/static/js/index.js"></script>
{#<script rel="script" type="text/javascript" src="/static/js/smallGraphDrawer.js"></script>#}

</html>
