<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>VisualizAncients</title>
    <link rel="stylesheet" href="/static/vendor/jquery-ui-1.11.4/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script rel="script" type="text/javascript" src="/static/vendor/jquery-2.2.0.min.js"></script>
	<script rel="script" type="text/javascript" src="/static/vendor/pako.min.js"></script>
	<script rel="script" type="text/javascript" src="/static/vendor/Chart.min.js"></script>
	<script rel="script" type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	
	
</head>
<body>
    <main id="content-container">
        <header>
            <h1>VisualizAncients</h1>
            <hr>
        </header>
        <section id="content">
            <div id="time-container">
                <span id="start-time">00:00</span>
                <div id="time">
                    <span id="amount"></span>
                    <div id="time-slider"></div>
                </div>
                <span id="end-time">40:40</span>
            </div>
            <div class="clear-fix"></div>
            <div id="graph-bar-container">
                <div id="change-graph-box">
                    <div class="arrow" id="up-arrow"><i id="uparrow" class="fa fa-arrow-up" ></i></div>
                    <div id="graph-label">Roshan</div>
                    <div class="arrow" id="down-arrow"><i id="downarrow" class="fa fa-arrow-down"></i></div>
                </div>
                <div id="graph-bar">
					<canvas id="roshanSmallChart" ></canvas>
					<canvas id="wardSmallChart"></canvas>
					<canvas id="playerKillsSmallChart"></canvas>
                </div>
                <div id="open-graphs"><a href="#"><i class="fa fa-bar-chart fa-2x" onclick="location.href='graphs';"></i></a></div>
            </div>
            <div class="clear-fix"></div>

            <div id="left-column" class="column">
                <div id="toggle-box" class="side-bar border hug-right">
                    Toggles
                </div>
                <div id="map-presence" class="side-bar border hug-right">
                    <div id="dire-control" class="dire team-block">
                        <img src="/static/img/icons/dire.png">
                        <div class="dire presence border"><h1>0%</h1></div>
                    </div>
                    <div id="radiant-control" class="radiant team-block">
                        <img src="/static/img/icons/radiant.png">
                        <div class="radiant presence border"><h1>0%</h1></div>
                    </div>
                </div>
            </div>

            <div id="map-container">
                <canvas id="dota-map" width="420" height="420"></canvas>
            </div>

            <div id="right-column" class="column">
                <div id="path-toggle" class="side-bar hug-left border">
                    <h4 class="heading">Toggle Paths</h4>
                    <img src="http://placehold.it/50x50" class="center-block">
                </div>
                <div id="player-info" class="side-bar hug-left border">
                    <h1 id="character-name" class="hidden-text">Character Name</h1>
                    <div id="hero-icon" class="border border-white center-block"></div>
                    <div id="items" class="center-block table">
                        <div class="table-row center-block">
                            <div class="table-cell"></div>
                            <div class="table-cell"></div>
                        </div>
                        <div class="table-row center-block">
                            <div class="table-cell"></div>
                            <div class="table-cell"></div>
                        </div>
                        <div class="table-row center-block">
                            <div class="table-cell"></div>
                            <div class="table-cell"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear-fix"></div>
            <div id="team-graphs" class="center-block">
                <div id="radiant" class="radiant score-box border">
                    <div class="team-stats">
                        <div><img src="/static/img/icons/gold.png"><span class="net-worth">0</span></div>
                        <div><img src="/static/img/icons/xp.png"><span class="total-xp">0</span></div>
                    </div>
                    <div class="kills">Kills <span class="count">0</span></div>
                </div>
                <div id="dire" class="dire score-box border">
                    <div class="team-stats">
                        <div><span class="net-worth">0</span><img src="/static/img/icons/gold.png"></div>
                        <div><span class="total-xp">0</span><img src="/static/img/icons/xp.png"></div>
                    </div>
                    <div class="kills">Kills <span class="count">0</span></div>
                </div>
            </div>
        </section>
        <footer>
            Made by: Alan Berman, Jacques Heunis, Jethro Muller, and Timothy Gwynn.
        </footer>
    </main>
</body>
<script rel="script" type="text/javascript" src="/static/vendor/jquery-2.2.0.min.js"></script>
<script rel="script" type="text/javascript" src="/static/vendor/jcanvas.min.js"></script>
<script rel="script" type="text/javascript" src="/static/vendor/jquery-ui-1.11.4/jquery-ui.min.js"></script>
<script rel="script" type="text/javascript" src="/static/vendor/pako.min.js"></script>
<script rel="script" type="text/javascript" src="/static/js/heroNames.js"></script>
<script rel="script" type="text/javascript" src="/static/js/index.js"></script>
	<script rel="script" type="text/javascript" src="/static/js/smallGraphDrawer.js"></script>

</html>
