<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>VisualizAncients</title>
    <link rel="stylesheet" href="/static/vendor/jquery-ui-1.11.4/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/vendor/theme.smoothness.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendor/jquery.alt-checkbox.css">
    <link rel="stylesheet" href="/static/vendor/jquery.alt-checkbox.icon-font.css">
    <link rel="stylesheet" href="/static/css/graph.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <main id="content-container">
        <header>
            <h1>VisualizAncients</h1>
            <hr>
        </header>
        <section id="content">
            <div id="time-container">
                <div id="top-events" class="center-block"></div>
                <div class="clear-fix"></div>
                <span id="start-time">00:00</span>
                <div id="time">
                    <span id="amount"></span>
                    <div id="time-slider"></div>
                    <div id="time-range-slider" style="display:none"></div>
                </div>
                <span id="end-time">00:00</span>
                <div class="clear-fix"></div>
                <div id="bottom-events" class="center-block"></div>
            </div>
            <div class="clear-fix"></div>
            <div id="graph-bar-container" class="drop-shadow">
                <div id="change-graph-box" class="colour-container">
                    <div class="arrow" id="up-arrow"><i id="uparrow" class="fa fa-arrow-up" ></i></div>
                    <div id="graph-label">Roshan</div>
                    <div class="arrow" id="down-arrow"><i id="downarrow" class="fa fa-arrow-down"></i></div>
                </div>
                <div id="graph-bar" class="colour-container">
                    <canvas id="roshanSmallChart" class="selected" data-name="Roshan"></canvas>
                    <canvas id="wardSmallChart" data-name="Wards" style="display:none;"></canvas>
                    <canvas id="sentrySmallChart" data-name="Sentries" style="display:none;"></canvas>
                    <canvas id="playerKillsSmallChart" data-name="Kills" style="display:none;"></canvas>
                </div>
                <div id="open-graphs" class="colour-container"><a class='graphs' href="#big-graphs"><i class="fa fa-bar-chart fa-2x"></i></a></div>
            </div>
            <div class="clear-fix"></div>

            <div id="left-column" class="column">
                <div id="toggle-box" class="side-bar colour-container drop-shadow hug-right">
                    <!-- First Column -->
                    <div class="column">
                        <div class="deaths">
                            <span class="input-wrapper"><input type="checkbox" id="death-box">
                              <label for="death-box"><img alt="Deaths" src="/static/img/icons/death.png"><span>Deaths</span></label>
                            </span>
                        </div>
                        <div class="wards">
                            <span class="input-wrapper"><input type="checkbox" id="wards-box">
                                <label for="wards-box"><img src="/static/img/icons/ward.png"><span>Wards</span></label>
                            </span>
                        </div>
                        <div class="creep">
                            <span class="input-wrapper"><input type="checkbox" id="creep-box">
                                <label for="creep-box"><img src="/static/img/icons/creep.png"><span>Creep</span></label>
                            </span>
                        </div>
                        <div class="roshan">
                            <span class="input-wrapper"><input type="checkbox" id="roshan-box">
                                <label for="roshan-box"><img src="/static/img/icons/roshan.png"><span>Roshan</span></label>
                            </span>
                        </div>
                        <div class="courier">
                            <span class="input-wrapper"><input type="checkbox" id="courier-box">
                                <label for="courier-box"><img src="/static/img/courier.png"><span>Couriers</span></label>
                            </span>
                        </div>
                    </div>
                    <!-- Next Column -->
                    <div class="column">
                        <div class="dire-path">
                            <span class="input-wrapper"><input type="checkbox" id="dire-path-box">
                                <label for="dire-path-box"><img src="/static/img/icons/dire-path.png"><span>Dire Paths</span></label>
                            </span>
                        </div>
                        <div class="radiant-path">
                            <span class="input-wrapper"><input type="checkbox" id="radiant-path-box">
                                <label for="radiant-path-box"><img src="/static/img/icons/radiant-path.png"><span>Radiant Paths</span></label>
                            </span>
                        </div>
                        <div class="towers">
                            <span class="input-wrapper"><input type="checkbox" id="towers-box">
                                <label for="towers-box"><img src="/static/img/icons/tower.png"><span>Tower</span></label>
                            </span>
                        </div>
                        <div class="smokes">
                            <span class="input-wrapper"><input type="checkbox" id="smokes-box">
                                <label for="smokes-box"><img src="/static/img/icons/smoke.png"><span>Smokes</span></label>
                            </span>
                        </div>
                        <div class="runes">
                            <span class="input-wrapper"><input type="checkbox" id="runes-box">
                                <label for="runes-box"><img src="/static/img/icons/runes/dd_rune.png"><span>Runes</span></label>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="map-presence" class="side-bar colour-container drop-shadow hug-right">
                    <div id="radiant-control" class="radiant team-block colour-container border-white">
                        <h1 id="radiant-presence">0%</h1>
                    </div>
                    <div id="dire-control" class="dire team-block colour-container border-white">
                        <h1 id="dire-presence" class="bottom">0%</h1>
                    </div>
                    <div id="toggle-presence-label">
                        <label for="toggle-presence">Show Map Presence</label>
                        <span class="input-wrapper">
                            <input type="checkbox" id="toggle-presence">
                        </span>
                    </div>
                </div>
                <div id="heatmap-select" class="side-bar colour-container hug-right" style="display:none;">
                    <label for="heatmap-dropdown">Select a heatmap</label>
                    <select name="heatmap-dropdown" id="heatmap-dropdown">
                        <option selected="selected">None</option>
                        <option>Positions</option>
                        <option >Deaths</option>
                        <option>Kills</option>
                        <option>Wards</option>
                        <option>Smoke</option>
                    </select>
                </div>
            </div>

            <div id="map-container">
                <canvas id="dota-map" class="drop-shadow" width="420" height="420"></canvas>
            </div>

            <div id="right-column" class="column">
                <div id="path-toggle" class="side-bar hug-left drop-shadow colour-container">
                    <h4 class="heading">Toggle Paths</h4>
                    <div class="path-container center-block">
                        <span class="input-wrapper">
                            <input type="checkbox" id="path-box">
                            <label for="path-box"><img src="/static/img/icons/paths.png"></label>
                        </span>
                    </div>
                </div>
                <div id="player-info" class="side-bar hug-left drop-shadow colour-container">
                    <h1 id="entity-name" class="hidden-text">Entity Name</h1>
                    <div id="entity-icon" class="colour-container border-white center-block">
                        <img src="" style="display: none">
                        <div id="status-bar" class="center-block">
                            <div id="entity-dead">
                                <img src="/static/img/icons/death.png">
                            </div>
                            <div id="entity-invis">
                                <img src="/static/img/icons/sentry.png">
                            </div>
                        </div>
                    </div>
                    <div id="items" class="center-block table">
                        <div class="table-row center-block">
                            <div class="table-cell"><img src="" style="display: none"></div>
                            <div class="table-cell"><img src="" style="display: none"></div>
                            <div class="table-cell"><img src="" style="display: none"></div>
                        </div>
                        <div class="table-row center-block">
                            <div class="table-cell"><img src="" style="display: none"></div>
                            <div class="table-cell"><img src="" style="display: none"></div>
                            <div class="table-cell"><img src="" style="display: none"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear-fix"></div>
            <div id="team-graphs" class="center-block">
                <div id="radiant" class="radiant score-box drop-shadow colour-container">
                    <div class="team-stats">
                        <div><img src="/static/img/icons/gold.png"><span class="net-worth"><span class="label">0</span></span></div>
                        <div><img src="/static/img/icons/xp.png"><span class="total-xp"><span class="label">0</span></span></div>
                    </div>
                    <div class="kills">Kills <span class="count">0</span></div>
                </div>
                <div id="dire" class="dire score-box drop-shadow colour-container">
                    <div class="team-stats">
                        <div><span class="net-worth"><span class="label">0</span></span><img src="/static/img/icons/gold.png"></div>
                        <div><span class="total-xp"><span class="label">0</span></span><img src="/static/img/icons/xp.png"></div>
                    </div>
                    <div class="kills">Kills <span class="count">0</span></div>
                </div>
            </div>
        </section>
        <footer>
            Made by: Alan Berman, Jacques Heunis, Jethro Muller, and Timothy Gwynn.
        </footer>
    </main>
    <div id="big-graph-overlay" style="display: none">
        <div id="big-graph-container">
            <button id="close-button" class="close-button"><span>Back</span></button>
            <div id="big-graphs">
                <div class="graph container">
                    <b>Roshan Kills</b>
                    <img src="/static/img/icons/roshan.png">
                    <canvas id="roshanChart"></canvas>
                    <div class="axis">Elapsed Game Time (min)</div>
                    <p>Times Roshan killed</p>
                </div>
                <div class="graph container">
                    <b>Wards</b>
                    <img src="/static/img/icons/ward.png">
                    <canvas id="wardChart"></canvas>
                    <div class="axis">Elapsed Game Time (min)</div>
                    <p>Number of wards placed</p>
                </div>
                <div class="graph container">
                    <b>Sentries</b>
                    <img src="/static/img/icons/sentry.png">
                    <canvas id="sentryChart"></canvas>
                    <div class="axis">Elapsed Game Time (min)</div>
                    <p>Number of sentries placed</p>
                </div>
                <div class="graph container">
                    <b>Player Kills</b>
                    <img src="/static/img/icons/death.png">
                    <canvas id="player_kills_Chart"></canvas>
                    <div class="axis">Elapsed Game Time (min)</div>
                    <p>Number of players killed</p>
                </div>
            </div>
        </div>
    </div>
    <canvas width="420" height="420" style="display:none;" id="presence"><img src=""></canvas>
</body>
<script rel="script" type="text/javascript" src="/static/vendor/jquery-2.2.0.min.js"></script>
<script rel="script" type="text/javascript" src="/static/vendor/jcanvas.min.js"></script>
<script rel="script" type="text/javascript" src="/static/vendor/jquery-ui-1.11.4/jquery-ui.min.js"></script>
<script rel="script" type="text/javascript" src="/static/vendor/jquery.alt-checkbox.js"></script>
<script rel="script" type="text/javascript" src="/static/vendor/pako.min.js"></script>
<script rel="script" type="text/javascript" src="/static/vendor/Chart.min.js"></script>
<script rel="script" type="text/javascript" src="/static/js/dataMaps.js"></script>
<script rel="script" type="text/javascript" src="/static/js/index.js"></script>
<script rel="script" type="text/javascript" src="/static/js/smallGraphDrawer.js"></script>
<script rel="script" type="text/javascript" src="/static/js/parse.js"></script>

<script>
    $(document).ready(function() {
      $('#open-graphs').click(function() {
          $('#big-graph-overlay').toggle();
      });

      $('#close-button').click(function() {
          $('#big-graph-overlay').toggle();
      })
    });
</script>

</html>
